@import "../../scss/index.scss";

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: $text-color;
}

.journal-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.journal-image {
  width: 300px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.journal-image img {
  width: 100%;
  height: 200px; /* Fixed height for images */
  object-fit: cover;
  display: block;
  border-radius: 8px 8px 0 0;
}

.journal-image .journal-description {
  padding: 15px;
}

.journal-image .journal-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.journal-image .journal-date {
  font-size: 14px;
  color: #666;
}
